*{
	box-sizing: border-box;
	font-family: spartan;
	margin-left: auto;
  	margin-right: auto;
}

.container{
	max-width: 750px;
}

h3{
	font-weight: bold;
	font-size: 14px;

}

/*/////////////////////////////////////

NAVBAR 

////////////////////////////////////*/

/*#ANNA{
	font-weight: bold;
	color: black;
	font-size: 40px;
	font-family: Dancing Script;
	font-style: italic;
	}
*/

.ANNA-logo{
max-height: 30px;
}

#ANNA-{
	font-weight: bold;
	color: black;
	font-size: 20px;
	font-family: spartan;
	}

#bar-list a {
	color: black;
	font-weight: bold;
	text-align: right;
	font-weight: none;
	}

@media (max-width: 767px){
		#bar-list a {
		color: white;
		background-color: black;
		margin: 1px;
		}
	}
header hr{
	border-color: black;
	}

.navbar-default .navbar-toggle {
  border-color: transparent;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
	background-color: #ffffff;
}

.navbar-default .navbar-toggle .icon-bar{
	background-color: black;
}

.navbar, .navbar-defauls, .navbar-header{
	background-color: #ffffff;
	margin: 0;
	border-radius: 0;
	border-color:transparent;
	}

.navbar-brand div img{
	height: 50px;
	width: auto;
	position: relative;
	bottom: 15px;
	}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
border-color: black;	
}

.nav {
	float: right;
}

.logo-facebook {
	width:50px;
	height: 50px;
	margin: 0px 5px 0px 5px;
	
		}

.logo-instagram {
	width:50px;
	height: 50px;
	margin: 0px 5px 0px 5px;
	}


/*/////////////////////////////////////

FOOTER 

////////////////////////////////////*/

#footer-list {
	color: black;
	font-family: inherit;
	font-weight: bold;
	background-color: #ffffff;
	border-color: black;
}

footer hr{
	border-color: black;
	margin-left: 20%;
	margin-right: 20%;
}


#footer-text{
	text-decoration: none;
	color: black;
}

/*/////////////////////////////////////

BIO

////////////////////////////////////*/

#bio-text{
	font-weight: bold;
	text-align: left;
}

/*/////////////////////////////////////

DISCOGRAFIA

////////////////////////////////////*/

#disco{
	height: 150px;
	width: 150px;
}

/*/////////////////////////////////////

DISCO

////////////////////////////////////*/

h2{
	font-weight: bold;
}

#testo-bold{
	font-weight: bold;
}

/*/////////////////////////////////////

CREDITS

////////////////////////////////////*/
#logo-fc83{
width: 40px;
}