*{
	box-sizing: border-box;
	font-family: spartan;
	margin-left: auto;
  	margin-right: auto;
}

.container{
	max-width: 850px;
}

/*/////////////////////////////////////

NAVBAR 

////////////////////////////////////*/

#ANNA{
	font-weight: bold;
	color: black;
	font-size: 40px;
	font-family: Dancing Script;
	font-style: italic;
	}

#ANNA-{
	font-weight: bold;
	color: black;
	font-size: 20px;
	font-family: spartan;
	}

#bar-list a {
	text-align: center;
	color: black;
	font-family: inherit;
	font-weight: bold;
}

.navbar-default .navbar-toggle {
  border-color: black;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
	background-color: #ffffff;
}

.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header{
	text-align: right;
}

.navbar-default .navbar-toggle .icon-bar{
	background-color: black;
}

.navbar, .navbar-defauls, .navbar-header{
	background-color: #ffffff;
	margin: 0;
	border-radius: 0;
	border-color:transparent;
	}

.navbar-brand div img{
	height: 50px;
	width: 50px;
	position: relative;
	bottom: 15px;
	}

.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header{
border-color: black;
}

.nav {
	float: right;
}

/*/////////////////////////////////////

NAVBAR 

////////////////////////////////////*/

.logo-facebook {
	width:50px;
	height: 50px;
	margin: 0px 5px 0px 5px;
	
		}

.logo-instagram {
	width:50px;
	height: 50px;
	margin: 0px 5px 0px 5px;
	}


/*/////////////////////////////////////

FOOTER 

////////////////////////////////////*/

#footer-list {
	color: black;
	font-family: inherit;
	font-weight: bold;
	background-color: #ffffff;
	border-color: black;
}

hr{
	border-color: black;
	margin-left: 20%;
	margin-right: 20%;
}

/*/////////////////////////////////////

BIO

////////////////////////////////////*/

#bio-text{
	font-weight: bold;
}

/*/////////////////////////////////////

DISCOGRAFIA

////////////////////////////////////*/

#disco{
	height: 150px;
	width: 150px;
}

/*/////////////////////////////////////

DISCO

////////////////////////////////////*/

h2{
	font-weight: bold;
}

#testo-bold{
	font-weight: bold;
}