*{
	box-sizing: border-box;
	font-family: Arial, Helvetica, SansSerif;
  	font-size: 24px;
	color: black;
}


html, body { 
	height: 100%; 
	margin: 0; 
	padding: 0;
}

 
.main-container {
min-height: 100vh; /* will cover the 100% of viewport */
overflow: hidden;
display: block;
position: relative;
padding-bottom: 60px; /* height of your footer */
}
 
footer{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 60px;
	margin: 0;
	padding: 0;
	background-color: black; opacity: 0.75; /* #75151e; */
	text-align: center;
	border-top: 1px solid black;
	}

.row{
	margin: 0;
}

.spotify-embed{
position: relative;
float: left;
clear: left;
top: 20px;
left: 10px;
}

a:hover {
	text-decoration: none;
}

/*/////////////////////////////////////

INDEX

////////////////////////////////////*/

#bg-index {
	width: 100%; height: 100%;
	background: url(../images/bg-home.jpg) no-repeat center top;
	background-size: cover;
}

.loghi-index{
	position: relative;	
	width: auto;
	height: 50px;	
	border-radius: 10px;
	opacity: 0.75;
}

.content-index {
	position: fixed;
	bottom: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.5);
	color:white;
	width: 100%;
	padding: 20px;
	margin: 0px;
	text-align: left;
	text-decoration: none;
}

#logo-SCORZA-testo-index {
	font-family: arial;
	font-weight: bold;
	font-size: 30px;	
	color: white;
	opacity: 0.75;
}

/*/////////////////////////////////////

VIDEO HOME PAGE

////////////////////////////////////*/
/* Style the video: 100% width and height to cover the entire window */
#myVideo{
	position: fixed; 
	z-index: -1;
	bottom: 0;
	left: 0;
	}

  #myVideoVerticale{
	position: fixed; 
	z-index: -1;
	bottom: 0;
	left: 0;
  }

  #audio-controls{
	  position: absolute;
	  left: 10px;
	  bottom: 70px;
  }

  @media (min-aspect-ratio: 16/9) {
	#myVideo{  
	width: 100%;
	height: auto;
	}

	#myVideoVerticale{  
		width: auto;
		height: 100%;
		}
}

@media (max-aspect-ratio: 16/9) {
	#myVideo{  
	width: auto;
	height: 100%;
	}

	#myVideoVerticale{  
		width: 100%;
		height: auto;
		}
}

@media (max-width: 666px) {
	#myVideo {   
		display: none;
	}
}

@media (min-width: 667px) {
	#myVideoVerticale{  
		display: none;
	}
}

.socials-position{
	position: relative;
	float: left;
	top: 10px;
	left: 10px;
	width: 165px;
	height: 50px;
}

@media (max-width: 767px){

	#socials-navbar{
		position: absolute;
		float: left;
		width: 50px;
		left: 15px;
		bottom: 5px;
		
	}

	.socials-position{
		display: none;
		}

	}

.logo-facebook {
	position: relative;	
	width: 50px;
	height: 50px;	
	border-radius: 10px;
	opacity: 0.75;
	}	
	
.logo-youtube {
	position: relative;
	width: 50px;
	height: 50px;	
	border-radius: 10px;
	opacity: 0.75;
	}

.logo-spotify {
	position: relative;	
	width: 50px;
	height: 50px;	
	border-radius: 10px;
	opacity: 0.75;
	}

.logo-maps {
	position: relative;	
	width: 50px;
	height: 50px;	
	border-radius: 10px;
	opacity: 0.75;
	}
	
.logo-telefono {
	position: relative;	
	width: 50px;
	height: 50px;	
	border-radius: 10px;
	opacity: 0.75;
	}

.logo-mail {
	position: relative;	
	width: 50px;
	height: 50px;	
	border-radius: 10px;
	opacity: 0.75;
	}

.logo-homepage {
	position: relative;	
	width: 50px;
	height: 50px;	
	border-radius: 10px;
	opacity: 0.75;
	}

.fraseVIDEO{
	color: white;
	font-size: 14px;
}

  
  #myBtn {
	width: 200px;
	font-size: 18px;
	padding: 10px;
	border: none;
	background: black;
	color: white;
	border-color:none;
	}
  
  #myBtn:hover :active {
	background: #ddd;
	color: black;
	text-decoration: none;
	}

  
/*/////////////////////////////////////

NAVBAR

////////////////////////////////////*/

.navbar-default .navbar-toggle {
  border-color: transparent;
  
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
	background-color: black; opacity: 0.75;
	
}

.navbar-default .navbar-toggle .icon-bar{ /*tasto menù*/
	background-color: white;
}

.navbar-toggle{
	margin-right: 0px;
}

.navbar, .navbar-defauls, .navbar-header{
	color: white;
	background-color: black; opacity: 0.75;
	margin: 0;
	border-radius: 0;
	border-color:transparent;	
	}



.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	padding: 0px;
	height: 160px;
}

.nav {
	float: right;
	text-align: right;
	}

#logo-scorza {
	height: 40px;
	padding-left: 5px;
	padding-right: 5px;
	position: relative;
	top: 5px;
	position: relative;
	float: left;
	}

#logo-SCORZA-testo{
	font-family: arial;
	font-weight: bold;
	font-size: 20px;
	text-decoration: none;
	color: white;
	width: 150px;
	vertical-align: middle;
	line-height: 50px; 
	position: relative;
	float: left;
}

#logo-SCORZA-testo span:hover{
	text-decoration: none;
}

#bar-list a{
	font-family: arial;
	font-weight: bold;
	font-size: 20px;
	text-decoration: none;

}

.container {
    width: 100%;
    min-height: 100%;
    height: auto !important;
    margin-bottom: 0 auto -60px; /*va modificato nel footer*/
    padding: 0;
    margin: 0;

}

#footer-text{
	color: white;
	font-style: oblique;
	font-size: 9px;
	text-decoration: none;
	vertical-align: middle;
	line-height: 20px;
	height: 20px;
}

div a:hover{
	text-decoration: none;
}


.content{
	font-weight: bold;
	font-family: arial;
	text-align: center;
}


/*#bg-home {
width: 100%; height: 100%; top: 0; left: 0;
background: url(../images/bg-musicassetta-vista.jpg) no-repeat center top; position: absolute; z-index: 0;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}*/

#bg-page {
width: 100%; height: 100%; top: 0; left: 0;
background: url(../images/bg-grigio.png) repeat center top; position: relative; z-index: -1; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

#testo-artisti{
	color: black;
	font-size: 22px;
	font-weight: bold;
	font-family: tipewriter;
	position: relative;
	top: 55px;
	}

#cassetta{
	width: 300px;
	opacity: 1;
	}

#cotenitore-TITOLO-PAGE{
	background-color: white; opacity: 0.75;
	padding-top: 5px;
	padding-bottom: 5px;
}

#TITOLO-PAGE{
	width: 90%;
	position: relative;
	left:5%;
	background-color: white; opacity: 0.75;
	color: black;
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
	}

#contenitore-TITOLO-cassetta{
	position: relative;
	top: 57px;
	margin-left: auto;
	margin-right: auto;
	width: 250px;
	background-color: white; opacity: 0.75;
	padding-top: 5px;
	padding-bottom: 5px;
}

#TITOLO-cassetta{
	font-size: 14px;
	width: 90%;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	background-color: white; opacity: 0.75;
	color: black;
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
	}

/*/////////////////////////////////////

CONTATTI

////////////////////////////////////*/
#SCORZA-img{
	position: relative;
	margin-right: auto;
	margin-left: auto;
	width: 250px;
	height: auto;
	}

	#contatti{
		color: black(121, 112, 112);
		font-size: 16px;
	}

/*/////////////////////////////////////

CREDITS

////////////////////////////////////*/
#logo-fc83{
width: 150px;
opacity: 0.75;
}

#credits{
	color: black;
	font-size: 16px;
}

/*/////////////////////////////////////

DISEGNO CASSETTA

////////////////////////////////////*/
#cassetta-bordo-nero{
	position: relative;
	margin-right: auto;
	margin-left: auto;
	height: 394px;
	width: 256px;
	border-top: 4px solid black;
	border-right: 4px solid black;
	border-bottom: 4px solid black;
	background-color: white;

}

#cassetta-bordo-grigio {
	border: 6px solid gray;
	height: 386px;
	width: 252px;
	border: 10px 10px 10px 2px solid gray;	
}

#cassetta-bordo-nero-lato{
	height: 35px;
	width: 150px;
	border-left: 5px solid red;
	border-right: 5px solid red;
	background-color: transparent;
}


#cassetta-bordo-grigio-lato{
	font-size: 18px;
	color: white; opacity: 0.75;
	background-color: transparent;
	height: 35px;
	width: 140px;
	border-left: 4px solid gray;
	border-right: 4px solid gray;
	border-top: 4px solid gray;
	border-bottom: 4px solid gray;
	text-align: center;
	vertical-align: middle;
	line-height: 27px; 
}

#posizione1{
	position: absolute;
	bottom: 121px;
	right: 5px;		
	}

#posizione2{
	position: absolute;
	bottom: 81px;
	right: 5px;		
	}

#posizione3{
	position: absolute;
	bottom: 41px;
	right: 5px;	
	}

#posizione4{
	position: absolute;
	bottom: 2px;
	right: 5px;
	}

#posizione-laterale{
	position: absolute;
	bottom: 60px;
	right: 120px;	
	transform: rotate(-65deg);	
	}

#posizione-laterale2{
	position: absolute;
	bottom: 60px;
	right: 120px;	
	transform: rotate(-75deg);	
	}

#link-sito{
	color: black;
	font-size: 14px;
}

/*/////////////////////////////////////

BRICIOLE

////////////////////////////////////*/

.rowbriciole {
	display: flex;
	flex-wrap: wrap;
	padding: 0 4px;
  }

.column {
	flex: 50%;
	max-width: 50%;
	}

@media screen and (max-width: 600px) {
	.column {
		flex: 100%;
		max-width: 100%;
		}
	}

#cotenitore-TITOLO-BRICIOLA{
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	background-color: white; opacity: 0.75;
	padding-top: 5px;
	padding-bottom: 5px;
}

#TITOLO-BRICIOLA{
	font-size: 16px;
	width: 90%;
	position: relative;
	left:5%;
	background-color: white; opacity: 0.75;
	color: black;
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
		}

.responsive-iframe {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
  }

  .container-iframe-552-414 {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	width: 70%;
	height: 100%;
	padding-top: 52.5%; /* 1:1 Aspect Ratio */
  }

  .container-iframe-552-977 {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	width: 70%;
	height: 100%;
	padding-top: 123.89%; /* 1:1 Aspect Ratio */
  }

  .container-iframe-552-309 {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	width: 70%;
	height: 100%;
	padding-top: 39.18%; /* 1:1 Aspect Ratio */
  }

  .container-iframe-552-265 {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	width: 70%;
	height: 100%;
	padding-top: 33.60%; /* 1:1 Aspect Ratio */
  }

  .container-iframe-552-552 {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	width: 70%;
	height: 100%;
	padding-top: 70%; /* 1:1 Aspect Ratio */
  }

  .container-iframe-552-498 {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	width: 70%;
	height: 100%;
	padding-top: 63.15%; /* 1:1 Aspect Ratio */
  }

  .container-iframe-552-647 {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	width: 70%;
	height: 100%;
	padding-top: 82.04%; /* 1:1 Aspect Ratio */
  }

  .container-iframe-552-452 {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	width: 70%;
	height: 100%;
	padding-top: 57.31%; /* 1:1 Aspect Ratio */
  }

/*/////////////////////////////////////

CARD

////////////////////////////////////*/

  .card {
	/* Add shadows to create the "card" effect */
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	width: 300px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	}
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .container {
	background-color: lightgray;
	color: white;
	font-size: 18px;	
  }

  #hr-card {
	position: relative;
	margin: 0;
	width: 80%;
	left: 10%;
  }