*{
	box-sizing: border-box;
	color: white;
	
}

.container {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -44px; /*va modificato in 3 parti*/
}

.panel-footer-page, #push {
    height: 44px; /*va modificato in 3 parti*/
}


#page-home{
width: 100%; height: 100%; top: 0; left: 0;
background: url("../images/bg-home-faccia.jpg") no-repeat center top; position: fixed; z-index: -1;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

@media (min-width: 768px){
	#page {
	width: 100%; height: 100%; top: 0; left: 0;
	background: url("../images/bg-bio3.jpg") no-repeat center top; position: absolute; z-index: -1;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	}
}

@media (max-width: 767px){
	#page {
	background-color: black;
	}

}

h3{
	font-weight: bold;
	font-size: 14px;

}

/*/////////////////////////////////////

NAVBAR 

////////////////////////////////////*/
.logo-ANNA{
color: white;
font-family: arial;
font-weight: bold;
font-size: 30px;
}

#bar-list a {
	color: white;
	font-weight: bold;
	text-align: right;
	font-weight: none;
	}

@media (max-width: 767px){
		#bar-list a {
		color: black;
		background-color: white;
		margin: 1px;
		}

		#socials-navbar{
		position: relative;
		width: 50px;
		left:25;
		top: 10px;
		}

		section.socials-position{
			width: 0px;
			position: relative;
			left: -1000px;
			}

		}


.navbar-default .navbar-toggle {
  border-color: transparent;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
	background-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar{
	background-color: white;
}


.navbar, .navbar-defauls, .navbar-header{
	background-color: transparent; /*bianco #ffffff*/
	margin: 0;
	border-radius: 0;
	border-color:transparent;
	}

.navbar-brand div img{
	height: 50px;
	width: auto;
	position: relative;
	bottom: 15px;
	}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
border-color: white;
height: 300px;	
}

.nav {
	float: right;
}

/*/////////////////////////////////////

PIANOFORTE

////////////////////////////////////*/


#tasto-nero-corto a {
	position: relative;
	float: right;
	clear: right;
	background-color: black;
	color: white;
	width: 100px;
	height: 25px;
	text-align: center;
	vertical-align: middle;
	line-height: 25px; 
	text-decoration: none;
	}

#tasto-bianco-corto1{
	position: relative;
	float: right;
	background-color: white;
	color: white;
	width: 75px;
	height: 25px;
	margin-bottom: 1px;
	color: black;
	}

#logo-rockit-navbar{
	width: 50px;
	position: absolute;
	left: 12.5px;
	top: 5px;
}

#tasto-bianco-lungo1{
	color: white;
	position: relative;
	float: right;
	background-color: white;
	width: 175px;
	height: 15px;
	clear: right;
	margin-top: 5px;
	font-size: 8px;
	color: black;
	text-align: center;
	vertical-align: middle;
	line-height: 15px; 
	font-weight: bold;
	}

#logo-soundable-navbar{
	width: 50px;
	position: absolute;
	left: 12.5px;
}

#tasto-bianco-corto{
	position: relative;
	float: right;
	background-color: white;
	color: white;
	width: 75px;
	height: 25px;
	color: black;
	text-align: center;
	vertical-align: middle;
	line-height: 25px; 
	font-weight: bold;
	font-size: 8px;
	}

#tasto-bianco-lungo{
	color: black;
	position: relative;
	float: right;
	background-color: white;
	width: 175px;
	height: 15px;	
	clear: right;
	font-size: 8px;
	text-align: center;
	vertical-align: middle;
	line-height: 15px; 
	font-weight: bold;
	}

#logo-disco-navbar{
	height: 40px;
	position: absolute;
	left: 12.5px;
	top: -22.5px;
}

#logo-maps-navbar{
	width: 30px;
	position: absolute;
	left: 25px;
	top:5px;
}

/*/////////////////////////////////////

FOOTER 

////////////////////////////////////*/


.panel-footer-home{
	width: 100%; bottom: 0; left: 0;
	background-color: transparent; /*bianco #ffffff*/
	border-color: transparent;
	font-weight: bold;
	font-style: oblique;
	font-size: 8px;
	text-align: center;
	position: fixed;
	}

.panel-footer-home a:hover{
	text-decoration: none;
}

.panel-footer-page{
	width: 100%; left: 0;
	background-color: black; /*bianco #ffffff*/
	border-color: black;
	font-weight: bold;
	font-style: oblique;
	font-size: 8px;
	text-decoration: none;
	text-align: center;
	position: absolute;
	bottom: 0;
	left: 0;
	}

footer hr{
	border-color: white;
	margin-left: 30%;
	margin-right: 30%;
}


/*/////////////////////////////////////

HOME PAGE

////////////////////////////////////*/

.socials-position{
	position: relative;
	float: right;
	width: 50px;
	}

.logo-facebook, .logo-facebook>div{
	position: relative;
	width: 25px;
	height: 25px;
	margin: 0px 5px 0px 5px;
	border-radius: 30px;
	padding
		}

.logo-instagram {
	position: relative;
	width: 25px;
	height: 25px;
	margin: 0px 5px 0px 5px;
	border-radius: 5px;
	}

.logo-spotify {
	position: relative;
	width: 25px;
	height: 25px;
	margin: 0px 5px 0px 5px;
	border-radius: 30px;
	}
/*/////////////////////////////////////

BIO

////////////////////////////////////*/


@media (min-width: 767px){
	#bio-text{
	position:relative;
	left: 60%;
	width: 35%;
	text-align: left;
	}
}

@media (max-width: 767px){
	#bio-text{
	text-align: left;
	padding: 10px;
	}

	.panel-footer-page{
	width: 100%; left: 0;
	background-color: black; /*bianco #ffffff*/
	border-color: black;
	font-weight: bold;
	font-style: oblique;
	font-size: 8px;
	text-decoration: none;
	text-align: center;
	position: relative;
	top: 100% auto -44px; /*va modificato in 3 parti*/
	}

}


#bio-text-BAUMA{
	position:relative;
	left: 5%;
	width: 90%;
	}

.bio-img{
	position: relative;
	width: 100%;
	height: auto;
	padding-right: 0px;
	padding-left: 0px;
		
}

/*/////////////////////////////////////

DISCOGRAFIA

////////////////////////////////////*/

#disco{
	height: 150px;
	width: 150px;
}

/*/////////////////////////////////////

DISCO

////////////////////////////////////*/

h2{
	font-weight: bold;
}

#testo-bold{
	font-weight: bold;
}


/*/////////////////////////////////////

STAMPA

////////////////////////////////////*/
#anno-stampa {
	font-weight: bold;
	color: black;
}

/*/////////////////////////////////////

STORE

////////////////////////////////////*/

.FOTO-STORE{
	height: 500px;
	width: 500px;
}

.btn, .btn-default, .btn:hover, .btn-default:hover, .btn:active:focus, .btn-default:active:focus, .btn:visited, .btn-default:visited {
	color: black;
	border-color: black;
	background-color: white;
}

.thumbnail{
	border-color: black;
}

/*/////////////////////////////////////

GALLERIA

////////////////////////////////////*/

.FOTO-GALLERIA {
	max-width: 100%;
	}

.row figure {
	padding-right: 0px;
	padding-left: 0px;

}

/*/////////////////////////////////////

CREDITS

////////////////////////////////////*/
#logo-fc83{
width: 40px;
}