*{
	box-sizing: border-box;
	color: white;
	
	
}


/*#page{
	width: 100%; height: 100%; top: 0; left: 0;
	background: url("../images/bg-bio.jpg") no-repeat center top;
	background-size: cover;
}*/ 

#page-home{
width: 100%; height: 100%; top: 0; left: 0;
background: url("../images/bg-home-faccia.jpg") no-repeat center top; position: fixed; z-index: -1;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

@media (min-width: 767px){
	#page {
	width: 100%; height: none; top: 0; left: 0;
	background: url("../images/bg-bio3.jpg") no-repeat center top; position: absolute; z-index: -1;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	}
}

@media (max-width: 767px){
	#page {
	background-color: black;
	}
	.container{
		padding: 0;
	}
}

h3{
	font-weight: bold;
	font-size: 14px;

}

/*/////////////////////////////////////

NAVBAR 

////////////////////////////////////*/
.logo-ANNA{
color: white;
font-family: arial2;
font-weight: bold;
font-size: 30px;
}

#bar-list a {
	color: white;
	font-weight: bold;
	text-align: right;
	font-weight: none;
	}

@media (max-width: 767px){
		#bar-list a {
		color: black;
		background-color: white;
		margin: 1px;
		}

		#socials-navbar{
		position: relative;
		width: 50px;
		left:25;
		top: 10px;
		}

		section.socials-position{
			width: 0px;
			position: relative;
			left: -1000px;
			}

		}

header hr{
	border-color: white;
	}

.navbar-default .navbar-toggle {
  border-color: transparent;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
	background-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar{
	background-color: white;
}


.navbar, .navbar-defauls, .navbar-header{
	background-color: transparent; /*bianco #ffffff*/
	margin: 0;
	border-radius: 0;
	border-color:transparent;
	}

.navbar-brand div img{
	height: 50px;
	width: auto;
	position: relative;
	bottom: 15px;
	}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
border-color: white;	
}

.nav {
	float: right;
}

/*/////////////////////////////////////

PIANOFORTE

////////////////////////////////////*/


#tasto-nero-corto a {
	position: relative;
	float: right;
	clear: right;
	background-color: black;
	color: white;
	width: 100px;
	text-align: center;
	text-decoration: none;
	}

#tasto-bianco-corto1{
	position: relative;
	float: right;

	background-color: white;
	color: white;
	width: 100px;
	margin-bottom: 1px;
	}

#tasto-bianco-lungo1{
	color: white;
	position: relative;
	float: right;
	background-color: white;
	width: 200px;
	clear: right;
	margin-top: 5px;
	}

#tasto-bianco-corto{
	position: relative;
	float: right;

	background-color: white;
	color: white;
	width: 100px;
	
	}

#tasto-bianco-lungo{
	color: white;
	position: relative;
	float: right;
	background-color: white;
	width: 200px;
	clear: right;
	
	}



/*/////////////////////////////////////

FOOTER 

////////////////////////////////////*/


.panel-footer-home{
	width: top: 0; left: 0;
	background-color: transparent; /*bianco #ffffff*/
	border-color: transparent;
	font-weight: bold;
	font-style: oblique;
	font-size: 8px;
	text-decoration: none;
	text-align: center;
	position: fixed;
	width: 100%;
	bottom: 0;
	}

.panel-footer-page{
	width: top: 0; left: 0;
	background-color: black; /*bianco #ffffff*/
	border-color: black;
	font-weight: bold;
	font-style: oblique;
	font-size: 8px;
	text-decoration: none;
	text-align: center;
	position: none;
	width: 100%;
	bottom: 0;
	}

footer hr{
	border-color: white;
	margin-left: 30%;
	margin-right: 30%;
}


/*/////////////////////////////////////

HOME PAGE

////////////////////////////////////*/

.socials-position{
	position: relative;
	float: right;
	width: 50px;
	}

.logo-facebook, .logo-facebook>div{
	position: relative;
	width: 25px;
	height: 25px;
	margin: 0px 5px 0px 5px;
	border-radius: 30px;
	padding
		}

.logo-instagram {
	position: relative;
	width: 25px;
	height: 25px;
	margin: 0px 5px 0px 5px;
	border-radius: 10px;
	}

.logo-spotify {
	position: relative;
	width: 25px;
	height: 25px;
	margin: 0px 5px 0px 5px;
	border-radius: 30px;
	}
/*/////////////////////////////////////

BIO

////////////////////////////////////*/

@media (max-width: 767px){
		#bio-text{
	text-align: left;
	padding: 10px;
	}
		}

@media (min-width: 767px){
#bio-text{
	position:relative;
	left: 60%;
	width: 35%;
	text-align: left;
	}
}

#bio-text-BAUMA{
	position:relative;
	left: 5%;
	width: 90%;
	}

.bio-img{
	position: relative;
	width: 100%;
	height: auto;
	left: 0;
		
}

/*/////////////////////////////////////

DISCOGRAFIA

////////////////////////////////////*/

#disco{
	height: 150px;
	width: 150px;
}

/*/////////////////////////////////////

DISCO

////////////////////////////////////*/

h2{
	font-weight: bold;
}

#testo-bold{
	font-weight: bold;
}


/*/////////////////////////////////////

STAMPA

////////////////////////////////////*/
#anno-stampa {
	font-weight: bold;
	color: black;
}

/*/////////////////////////////////////

STORE

////////////////////////////////////*/

.FOTO-STORE{
	height: 500px;
	width: 500px;
}

.btn, .btn-default, .btn:hover, .btn-default:hover, .btn:active:focus, .btn-default:active:focus, .btn:visited, .btn-default:visited {
	color: black;
	border-color: black;
	background-color: white;
}

.thumbnail{
	border-color: black;
}

/*/////////////////////////////////////

GALLERIA

////////////////////////////////////*/

.FOTO-GALLERIA {
	max-width: 100%;
	}

.row figure {
	padding-right: 0px;
	padding-left: 0px;

}

/*/////////////////////////////////////

CREDITS

////////////////////////////////////*/
#logo-fc83{
width: 40px;
}